@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100;200;300;400;500&family=Lato:wght@100;300;700&family=Oswald:wght@200;300;400;600&display=swap');

body {
    font-family: 'Lato', sans-serif;
    background-color: whitesmoke;
    color: #79808d;
    padding-top: 10%;
}
header {
    margin: 0;
    padding: 0;
}
/*------------------------------Headings-----*/
h1,
h2,
h3,
h4,
h5 {
    font-family: 'Exo', sans-serif;
    font-weight: 300;
    letter-spacing: 2px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: whitesmoke;
}

h4, h5 {
    color: #ee4f4f;
    font-size: 30px;
    text-transform: uppercase;
}

h5 {
    font-size: 20px;
}

/*-----------------------Colors---------*/

.bg-color-heading, .bg-color-contact, .bg-color-social, .bg-color-copyright {
    background-color: #616775; 
}

.footer-container {
    background-color: #616775; 
}

.reasons {
    background-color: #d4d9e4; 
}

/*-----------------------Logo image---------*/
.col-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;
    padding-right: 0;

}
.col-logo i {
    font-size: 60px;
    color: whitesmoke;
}

/*-----------------------Nav items---------*/
nav ul {
    margin-left: 5%;
    margin-right: 5%;
    font-size: 12px;
}

.section-header {
    align-items: center; 
    padding-top: 10px;
    padding-bottom: 10px;
}

/*-----------------------Nav & Footer items---------*/
.menuitem a, .menuitem p {
    color: whitesmoke;
    font-family: 'Exo';
    justify-content: center;
    text-align: center;
}

.menuitem a {
    text-decoration: none;
}
.menuitem a:hover {
    color: #ee4f4f;
    transition: 1s;
}

.active a {
    color: #ee4f4f;
}
/*-----------------------Footer items---------*/
.footer-container .menuitem {
    height: 40px;
}

.footer-container a {
    padding-bottom: 5px;
}

.bg-color-contact, .bg-color-social, .bg-color-copyright {
    padding-top: 5px;
}

.menuitem .social-links {
   text-align: center;
}

.social-links p {
    margin-bottom: 0;
    display: inline;
}
.social-links a i {
    padding: 0 8px 5px 8px;
    font-size: 15px;
    color: whitesmoke;
}

/*-----------------------Home page sections---------*/
.about-us {
    padding-top: 15px;
    padding-bottom: 15px;
}
.reasons {
    padding-top: 15px;
    padding-bottom: 20px;
}

.client {
    padding-top: 25px;
    padding-bottom: 20px;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.about-us-img {
    padding-top: 20px;
    padding-bottom: 10px;
}

.client-dog-img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
    height: auto;
    border-radius: 50%;
}
.client-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.client-row p {
    margin-bottom: 0;
}

.client-quote, .client-name {
    text-align: center;
}

.client-text-content {
    padding-top: 5px;
    padding-bottom: 20px;
}

/*-----------------------Quotes styling---------*/
blockquote {
    padding: 2%;
    font-style: italic;
    line-height: 145%;
    position: relative;
    margin-top: 40px;
}

blockquote:before {
    content: "\201C";
    display: block;
    font-size: 500%;
    position: absolute;
    top:-5px;
    left:-5px;
}
 
/*-----------------------Media Queries---------*/
@media screen and (max-width: 767px) {
        body {
        padding-top: 40%;
    }
}

@media screen and (min-width: 768px) {

    body {
        padding-top: 20%;
    }
    nav ul {
        font-size: 16px;
    }
    .social-links p {
        display: block;
    }
    .footer-container .menuitem {
        height: 60px;
    }
    .client-dog-img {
        width: 25%;
    }
    .client-row {
        width: 96%;
        margin-left: 2%;
        margin-right: 2%;
    }
}

@media screen and (min-width: 992px) {
        body {
        padding-top: 10%;
    }

    .client-dog-img {
        width: 58%;
        height: 50%;
    }
}
