@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&family=Oswald:wght@200;300;400;600&display=swap');

body {
    font-family: 'Lato', sans-serif;
}
header {
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-family: 'Oswald', sans-serif;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(59, 58, 58);
}

/*-----------------------Colors---------*/
.bg-color-heading {
    background-color: #788cb6;
}
.bg-color-contact {
    background-color: #fdb813;
}
.bg-color-social {
    background-color: #88aca1;
}
.bg-color-copyright {
    background-color: #a1a1a4;
}

/*-----------------------Logo image---------*/
.col-logo {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 0;

}
.col-logo i {
    font-size: 60px;
    color: rgb(59, 58, 58);
}
/*-----------------------Nav items---------*/
nav ul {
    margin-left: 5%;
    margin-right: 5%;
}

.menuitem a, .menuitem p {
    color: rgb(77, 75, 75);
    font-family: 'Oswald';
    justify-content: center;
    text-align: center;
}

.section-header {
    align-items: center; 
}

.footer-container {
    padding-top: 20px;
}
.footer-container .menuitem {
    height: 40px;
}

.footer-container a {
    padding-bottom: 5px;
}

.menuitem .social-links {
   text-align: center;
}

.social-links p {
    margin-bottom: 0;
    display: inline;
}
.social-links a i {
    padding: 0 8px 5px 8px;
    font-size: 15px;
    color: rgb(77, 75, 75);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: auto;
}

.about-us-img {
    padding-top: 10px;
}
.client-row {
    padding-top: 15px;
    padding-bottom: 15px;
}

.client-dog-img {
    padding-top: 10px;
    padding-bottom: 10px;
    width: 33%;
    height: auto;
    border-radius: 50%;
}
.client-row p {
    margin-bottom: 0;
}
.client-quote, .client-name {
    text-align: center;
}

.client-text-content {
    padding-top: 30px;
}

/*-----------------------Media Queries---------*/

@media screen and (min-width: 768px) {
    .social-links p {
        display: block;
    }
    .footer-container .menuitem {
    height: 50px;
    }
    .client-dog-img {
        width: 80%;
    }

}

@media screen and (min-width: 992px) {
      .client-dog-img {
        width: 60%;
    }
}
